/* Stil für Popups */
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -150px;
    min-width: 280px;
    display: none;
}

.ol-popup-closer {
    position: absolute;
    top: 2px;
    right: 8px;
    font-size: 14px;
    text-decoration: none;
}

/* Allgemeine Stile */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff; /* Weißer Hintergrund */
    overflow: hidden; /* Verhindert Scrollbalken */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Moderne Schriftart */
}

/* Kartencontainer */
#map {
    height: 100%; /* Abzug der Höhe der Leiste */
    width: 100%; /* Abzug der Sidebar-Breite */
    float: left;
}

#sidebar {
    position: fixed;
    right: 30px;
    top: 30px;
    width: 400px; /* Breite auf 200px ändern */
    height: 390px; /* Anpassung an die Höhe der Leiste */
    background-color: #ffffffc0; /* Weißer Hintergrund */
    margin-right: 20px;
    box-sizing: border-box;
    font-size: 20px; /* Schriftgröße für die Sidebar */
    border-radius: 5%; /* Kreisförmige abgerundete Ecken */
    color: #424242;

}


#sidebar-header {
    text-align: center;
    line-height: 50px; /* Vertikal zentrierte Überschrift */
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px; /* Abstand nach unten */
    margin-top: 20px;
}

/* Container für Dropdown-Menü-Beschriftungen */
.menu-item {
    margin-bottom: 60px; /* Abstand zwischen den Menüpunkten */
}

/* Dropdown-Menüs */
label {
    font-weight: bold; /* Fett anzeigen */
    margin-bottom: 10px; /* Abstand nach unten */
}

/* Dropdown-Menü-Container */
#menu {
    padding: 20px; /* Innenabstand */
    margin-bottom: 20px; /* Abstand nach unten */
    text-align: left; /* Links ausrichten */
}

/* Dropdown-Menü-Optionen */
select {
    appearance: none; /* Standard-Browser-Styling entfernen */
    -webkit-appearance: none; /* Für Webkit-basierte Browser wie Chrome und Safari */
    -moz-appearance: none; /* Für Mozilla-basierte Browser wie Firefox */
    padding: 5px; /* Innenabstand */
    border: 2px solid #ccc; /* Randstil */
    border-radius: 5px; /* Abgerundete Ecken */
    background-color: #f8f8f8; /* Hintergrundfarbe */
    font-size: 20px; /* Schriftgröße */
    color: #333; /* Textfarbe */
    cursor: pointer; /* Zeiger beim Überfahren */
    width: calc(100% - 180px); /* Vollbreite des Containers abzüglich Platz für Beschriftung */
    box-sizing: border-box; /* Berücksichtigt das Padding und den Rand im Breitenwert */
    float: right; /* Rechts ausrichten */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M7 10l5 5 5-5z" fill="currentColor"/></svg>'); /* Pfeil-Symbol */
    background-repeat: no-repeat; /* Wiederholung des Hintergrundbilds verhindern */
    background-position: right 10px center; /* Position des Symbols */
    background-size: 16px; /* Größe des Symbols */
}

/* Hover-Stil für Dropdown-Menü-Optionen */
select:hover {
    border-color: #aaa; /* Randfarbe beim Überfahren */
}

/* Focus-Stil für Dropdown-Menü-Optionen */
select:focus {
    outline: none; /* Standard-Fokus-Stil entfernen */
    border-color: #66afe9; /* Randfarbe bei Fokus */
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); /* Schatten um das Dropdown-Menü bei Fokus */
}

#title {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffffc0; /* Hintergrundfarbe */
    color: #424242;
    padding: 20px; /* Innenabstand */
    border-radius: 40px; /* Kreisförmige abgerundete Ecken */
    font-size: 2.5rem; /* Responsive Schriftgröße */
    font-weight: bold;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Schatten für ein modernes Aussehen */
}

#explanation-popup {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 80px;
    height: 80px;
    background-color: #ffffffc0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;    
    border-radius: 100%; /* Kreisförmige abgerundete Ecken */
    padding: 10px; /* Innenabstand */
}

#explanation-icon {
    font-size: 3rem; /* Responsive Schriftgröße */
    color: #424242;
    font-weight: bold;
}

#explanation-content {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

#explanation-popup:hover #explanation-content {
    display: block;
}




#explanation {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 95%;
    text-align: justify;
}

/* Stil für das Wasserzeichen */
#watermark {
    position: fixed;
    bottom: 10px; /* Abstand zum unteren Rand */
    left: 10px; /* Abstand zum linken Rand */
    background-color: rgba(255, 255, 255, 0.8); /* Hintergrundfarbe mit Transparenz */
    padding: 5px 10px; /* Innenabstand */
    border-radius: 5px; /* abgerundete Ecken */
    font-size: 12px; /* Schriftgröße */
    font-style: italic; /* kursiver Text */
    color: #555; /* Textfarbe */
}

