/* Stil für die Karte */
.map {
    width: 100%;
    height: 1000px;
}

/* Stil für Popups */
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    display: none;
}
.ol-popup-closer {
    position: absolute;
    top: 2px;
    right: 8px;
    font-size: 14px;
    text-decoration: none;
}
